.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 20px;
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  background: rgb(255, 255, 255);
  margin-bottom: 50px;
}
